<!DOCTYPE html>
<html>
  <head>
    <title>THQna</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <div class="row justify-content-center mt-3">
      <div class="col col-md-8">
        <%= render 'shared/nav' %>
        <div id="flash">
          <%= render partial: 'shared/flash' %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
